*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --textos: #141414;

    --azul: #2d7f9c;
    --azul-claro: #2b8889;
    --azul-esverdeado: #2d9282;
    --verde-claro: #30925c;
    --verde-escuro: #288c55;

    --roboto: 'Roboto', sans-serif;
}

body{
    background: linear-gradient( to right bottom, var(--azul),  var(--azul-claro), var(--azul-esverdeado), var(--verde-claro), var(--verde-escuro) ) no-repeat;

    min-height: 100vh;
}

.container{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.avatar-name-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: 4.4rem;
    font-weight: 700;
}

.avatar-thiago{
    width: 43.0rem;
    height: 43.0rem;
}

.list-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3.0rem;
    padding-top: 6.0rem;
}

.icons{
    width: 7.2rem;
    height: 7.2rem;
    transition: ease-in-out 0.3s;
}

.icon-github{
    border-radius: 50%;
}

.icon-linkedin{
    border-radius: 10%;
}

.icon-instagram{
    border-radius: 20%;
}

.icons:hover{
    transform: scale(1.1);
    box-shadow: rgba(255, 255, 255, 1) 0.6rem 0.2rem 1.6rem 0rem, rgba(255, 255, 255, 1) -0.6rem -0.2rem 1.6rem 0rem;
}

.text{
    font-family: var(--roboto);
    color: var(--textos);
    text-align: center;
}

.madeBy{
    font-size: 2.0rem;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*================== RESPONSIVO =========================*/

/*================== RESPONSIVO (width: 425px a 1023px) =========================*/
@media (max-width: 1023px) and (min-width: 425px) {

    .container {
        padding-top: 1vh;
        padding-bottom: 7vh;
    }

    .avatar-name-links {
        flex-direction: column;
    }

    .name {
        font-size: 3.7rem;
    }

    .list-links {
        gap: 4.8rem;
        padding-top: 5rem;
    }

    .icons {
        width: 6.5rem;
        height: 6.5rem;
    }

    .madeBy {
        font-size: 1.8rem;
    }
}

/*================== RESPONSIVO (width: até 424px) =========================*/
@media (max-width: 424px) {

    :root {
        min-height: 133vh;
        min-width: 133vw;
    }

    .container {
        padding-top: 1vh;
        padding-bottom: 7vh;
    }
    
    .avatar-name-links{
        flex-direction: column;
    }
    
    .name {
        font-size: 5.0rem;
    }

    .list-links {
        gap: 4.8rem;
        padding-top: 5rem;
    }

    .icons {
        width: 7.5rem;
        height: 7.5rem;
    }

    .madeBy {
        font-size: 2.3rem;
    }
}